h1 {
    text-align: center;
}

svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    text-align: center;
}



#educationline {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation-duration: 4s;
    animation-name: reveal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes reveal {
10% {
    stroke-dashoffset: 500;
}
20%{
    stroke-dashoffset: 400;
}
50%{
    stroke-dashoffset: 250;
}
80%{
    stroke-dashoffset: 0;
}
100%{
    stroke-dashoffset: 0;
}
}